.colorRange {
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.colorGradient {
  display: inline-block;
  width: 60px;
  height: 10px;
  border: 1px solid var(--gfx-border);
  border-radius: 2px;
}
